@model ContactManager.Web.Models.dtoContact

@{
    ViewBag.Title = "MNP Contact Manager - Edit Contact";
}

@using (Html.BeginForm("Edit", "Contact", new { Id = Model.Id}, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <div class="form-horizontal">
        <hr />
        <h4>Contact Details</h4>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            @Html.LabelFor(model => model.LastDateContacted, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.LastDateContacted, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control datepicker",
                        @id = "LastDateContacted"
                    }
                })
            </div>

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Company, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.Company, new SelectList(Model.Companies, "Value", "Text"), htmlAttributes: new { @class = "form-control", @id = "Company" })
            </div>

            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="col-md-4">
                @Html.TextAreaFor(model => model.Comments, new { @class = "form-control form-control-full", @rows = 6, style = "max-width:100%", })
            </div>
        </div>
        <div>
            <div class="form-group padding-right-sm">
                <div class="col-md-offset-2 col-md-12 col-md-pull-3">
                    <input type="button" value="Cancel" class="btn btn-default pull-right" onclick="location.href = '/Home/Index'" />
                    <input type="submit" value="Save" class="btn btn-default pull-right" />
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(function () {
        $("#LastDateContacted").datepicker({ dateFormat: 'mm-dd-yy' });
    });
</script>
